@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pinyon+Script&display=swap');



*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #c9d2c9;
  --color-text: #33413a;
  --color-accent: #8bb298;
  --color-cards: #f2f4f1;
  --font-body: 'Comfortaa', sans-serif;
  --font-cursive: 'Pinyon Script', sans-serif;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --font-size-body: 1.25rem
}

ul {
  list-style: none;
}

body {
  background-color: var(--color-bg);
  margin: 2rem;
}

a {
  text-decoration: none;
  color: var(--color-cards);
  font-family: var(--font-body);
  font-size: var(--font-size-body);
}

button {
  all: unset;
  outline: revert; /* Restores the default focus ring for keyboard accessibility */
  box-sizing: border-box; /* Re-applies predictable layout behavior */
  cursor: pointer; /* Ensures the pointer cursor appears on hover */

  padding: 1.5rem;
  border-radius: 40px;
  font-family: var(--font-body);
  font-size: var(--font-size-body);
}

.button-primary {
  background-color: var(--color-accent);
}

.header-main {
    font-family: var(--font-body);
    font-size: 8rem;
    color: var(--color-accent);
}

.header-secondary {
  font-family: var(--font-body);
  font-size: 3rem;
}